h1 {
    font-size: 110%;
}

body {
    color: #505050;
}

label { 
    display: block 
}

form > div {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 10px;
}

.error, .error input, .error select { 
    border-color: #ff0000; 
}

.alert { 
    display: none; 
    color: #ff0000 
}

.error .alert { 
    display: block
}

.help { 
    color: #a0a0a0; 
    font-size: 90% 
}

.irrelevant { 
    opacity: 0.3 
}

.required:after {
    content: "*"; 
    color: #ff0000 
}
